body {
  margin: 0;
  font-family: "noonnoo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "noonnoo";
  src: url("../src/assets/fonts/KyoboHandwriting2021sjy.ttf");
}
